{{> nav/nav-block}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
            <a href="/example">← Back To Home</a>
          <h5 class="card-title">All Books</h5>
          {{#each books}}
        <div class="card-body">
          <p>
            <h5>Book</h5>: </p>
            {{this.title}}
          <p>
          <p>
            <h5>Author</h5>: </p>
            {{this.author}}
          <p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>


{{> modal/login-block}}


