{{> nav/nav-block}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <a href="/example">← Back To Home</a>
        <h5 class="card-title">All Books</h5>
        {{#each books}}
        <div class="card-body">

          <h4>Book:</h4>
          <h5> {{this.title}} </h5>


          <h4>Author:</h4>
          <h5> {{this.author}}</h5>

        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>


{{> modal/login-block}}