<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">
    Follow the Reader
  </a>
  
  <!-- Links -->
  <ul class="nav navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="/profile">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>

  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <a href="/profile">← Back to Profile</a>
        <h1 class="card-title">All Books</h1>

        {{#each books}}
        <div class="card border-info mb-3 mx-auto" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <h6 class="card-text">{{this.author}}</h6>
          </div>
        </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>


{{> modal/login-block}}